<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <main
      class="p-8 min-h-[80vh] bg-gradient-to-br from-[#fff1f5] via-[#f3f4f6] to-[#e0e7ff]"
    >
      <h2
        class="text-3xl font-extrabold mb-10 text-center text-[#ff385c] tracking-tight drop-shadow"
      >
       home details
      </h2>
    </main>
  </body>
</html>
